.description {
    background-color: white;
    position: relative;
    max-width: 40%;
    margin-left: 20px;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
    position: absolute;
    z-index: -1;
    top: 0;
}

h1 {
    margin-left: 20px;
    position: relative;
    background-color: white;
    max-width: 40%;
}
